<!DOCTYPE html>
<html>
<head>
  <title>Fitbitapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  
    <!-- Theme CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
</head>
<body>



<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" >
					<li>
                        <%=link_to "Sign Up", new_member_path%>
						<i class="fa fa-user-plus"></i> <span class="light"></span>
                    </li>
					
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
						
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%=link_to "About", root_path%>
                    </li>
                    <li>
                        <%=link_to "Fitbits", fitbits_path%>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
					
					<% if !signed_in? %>
						<li><%=link_to "Sign In", login_path %></li>
					<% else %>
						<li>Signed in as <%= @current_user.name %></li>
						<%= link_to "Sign Out", logout_path %></li>
					<% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<%= yield %>


 <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Fitbit 2016</p>
        </div>
    </footer>
	
</body>
</html>
