<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @member.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @member.password_digest %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Total steps:</strong>
  <%= @member.total_steps %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
